@import 'custom';

header, footer {
    background-color: $color1;
    width: 100%;  
    margin: 0 auto;
    align-items: center;  
}

header {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

footer.footer {
    position: relative;
    top: 0 !important;
    width: 100%;
    justify-items: center;
    height: 110px;
    padding: 5px;
}

footer h4{
    margin: 0;
    margin: 5px;
}

footer p {
    font-family: $family-text;
    font-size: 0.65rem;
    margin: 0;
}

body, html {
    background-color: $base-color;
    height: 100%;

}

body {
    display: flex;
    flex-direction: column;
}

main {
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    padding: 10px;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}   


h1 {
    font-family: $family-title;
    font-size: 2.25rem;
    margin: 5px;
}

h2 {
    font-family: $family-title;
    font-size: 1.75rem;
    margin: 5px;
}   

h3 {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 5px;
}

h4 {
    font-family: $family-title;
    font-size: 1.25rem;
    margin: 5px;
}

p {
    font-family: $family-text;
    font-size: 1rem;
    margin: 5px;
}


.navbar {
    display: flex;
    margin: 0 auto;
    justify-content: space-around;
    max-width: 1440px;
}

.navbar-toggler {
    background-color: $color5;
}

.navbar-nav {
    font-size: 1.75rem;
    font-family: $family-title;
}

.navbar-brand {
    margin: 0;
    padding: 0;
}

.logo {
    padding: 5px;
    border-radius: 10px;
    margin: 0;
}

//HOME PAGE SECTION
.welcome, .logs {
    max-width: 1000px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    margin-bottom: 10px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    align-items: center;
}
.welcome img {
    width: 100%;
    border-radius: 10px;
    max-width: 450px;
    margin: 0 auto;
    display: block;
}
.welcome h1 {
    margin: 5px;
    font-weight: bolder;
}
.welcome {
    background-color: $color4;
    align-content: center;
    padding: 15px;

}
.inscription {
    background-color: $color5;
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    margin-bottom: 10px;
    height: 350px;
    max-width: 490px;
    width: 100%;
}
.connexion {
    background-color: $color6;
    border-radius: 10px;
    padding: 10px;
    align-content: center;
    margin-bottom: 10px;
    height: 350px;
    max-width: 490px;
    width: 100%;
}
.connexion h2, .inscription h2 {
    margin: 10px;
    font-weight: bolder;
}
.connexion p, .inscription p {
    margin: 20px;
}
.inscription button, .connexion button {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 10px auto;
    width: 200px;
    display: block;
    border-radius: 15px 30px;
    border: none;
}
.inscription button:hover, .connexion button:hover {
    background-color: $color4;
    color: black;
    border: none;
}
.logs {
    justify-content: space-between;
    margin: 0;
}


//CONNEXION SECTION
.connexion-form {
    max-width: 1000px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    background-color: $color6;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 20px;
    display: block;
}
.form-label {
    font-family: $family-title;
    font-size: 1.5rem;
    padding: 5px;
    max-width: 800px;
    width: 100%;
    margin: 0;
}
.form-control {
    font-family: $family-text;
    font-size: 0.8rem;
    margin: 0;
    max-width: 950px;
    width: 100%;
    padding: 5px;
}
.redirect-signup {
    font-family: $family-text;
    font-size: 1rem;
    padding: 5px;
    max-width: 800px;
    width: 100%;
    color: black;
}
.connexion-form button {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 10px auto;
    width: 200px;
    display: block;
    border-radius: 30px 15px;
    border: none;
}
.connexion-form button:hover {
    background-color: $color4;
    color: black;
    border: none;
}

//INSCRIPTION SECTION
.inscription-form {
    max-width: 1000px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    background-color: $color4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 20px;
    display: block;
}
.password-input p {
    font-family: $family-text;
    font-size: 0.8rem;
    margin: 0;
    padding: 5px;
}
.inscription-form button {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 10px auto;
    width: 200px;
    display: block;
    border-radius: 30px 15px;
    background-color: black;
    color: white;
    border: none;
}
.inscription-form button:hover {
    background-color: $color5;
    color: black;
    border: none;
}
.redirect-signin {
    font-family: $family-text;
    font-size: 1rem;
    padding: 5px;
    max-width: 800px;
    width: 100%;
    color: black;
}

//ACCOUNT SECTION
.custom-line {
    border: none;
    height: 2px;
    background-color: black;
    width: 70%;
    margin: 10px auto;
}
.account-page {
    max-width: 1000px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    margin: 0 auto;
    background-color: $color4;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    padding: 20px;
    display: block;
}
.current-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 10px;
    padding: 10px;
}
.current-info h2, .current-info p {
    margin: 0;
}
.new-pseudo button, .new-email button, .new-password button {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 10px;
    width: 200px;
    display: block;
    border-radius: 10px 30px;
    background-color: black;
    color: white;
    border: none;
    margin-left: auto;
}
.new-pseudo button:hover, .new-email button:hover, .new-password button:hover {
    background-color: $color5;
    color: black;
    border: none;
}
.delete-account button {
    font-family: $family-title;
    font-size: 1.5rem;
    margin: 10px auto;
    width: 350px;
    display: block;
    border-radius: 10px 30px;
    background-color: red;
    color: white;
    border: none;
}
.delete-account button:hover {
    background-color: $color6;
    color: black;
    border: none;
}